/** FONT-FACES **/
@font-face {
font-family: "ff-din-web";
src: url("../fonts/DINWebPro.eot");
src: url("../fonts/DINWebPro.eot?#iefix") format("embedded-opentype"),
url("../fonts/DINWebPro.woff") format("woff"),
url('../fonts/DINWebPro.ttf') format('truetype');
}
@font-face {
font-family: "ff-din-web";
font-weight: 700;
src: url("../fonts/DINWebPro.eot");
src: url("../fonts/DINWebPro-Bold.eot?#iefix") format("embedded-opentype"),
url("../fonts/DINWebPro-Bold.woff") format("woff"),
url('../fonts/DINWebPro-Bold.ttf') format('truetype');
}
@font-face {
font-family: "ff-din-web";
font-style: italic;
src: url("../fonts/DINWebPro.eot");
src: url("../fonts/DINWebPro-Ita.eot?#iefix") format("embedded-opentype"),
url("../fonts/DINWebPro-Ita.woff") format("woff");
}


.wd__stageSliderModule{
	// min-height: 760px !important;
	overflow: hidden;
}
.career-header{
	text-align: center;

	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 99%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.video_bg{
		video{
			width: 100%;

		}
	}
	@media #{$tablet}{
		.wd__contentSliderContent{
			background: url('../images/working/Work-Life-Balance.jpg');
			background-size: cover;
		}
	}
	.header-slide{
		h1{
			font-size: 70px;
			@media #{$tablet} {
				font-size: 20px;
			}
			text-transform: inherit;
			margin: 80px 0 40px 0;
		}
		p{
			font-size: 22px;
		}
	}
}
.departments, .intro-txt{

	background-color: $color-grey-light;
}
.intro-txt{
	text-align: center;

}
.careers-page{
	section{
		padding: 80px 0;
		position: relative;
		&.video{
			background-color: $color-grey-light;
		}
	}

	figure.card{
		padding: 0 10px;
		margin-bottom: 20px;
		a{
			text-decoration: none;
		}
		h2{
			text-decoration: none;
			box-sizing: inherit;
			 transition-property: all;
			 transition-duration: .6s;
			 transition-timing-function: ease;
			letter-spacing: 0;
		}
	}
	figure .card-content{
			width: 100%;
	    height: 239px;
	    float: left;
	    display: table;
	    position: relative;
			background-size: 100%;
	    background-position: center center;
    	-webkit-transition: all 0.3s ease;
    	transition: all 0.3s ease;
    	-webkit-transform-origin: center center;
    	transform-origin: center center;
		// loop for each dep tile setting bg
		$departments: marketing it sales customer adminstration finanzen personal recht;
		@each $a in $departments{
			&.dep-#{$a}{
				background-image: url('../images/#{$a}_tile_bg.jpg');
			}
	  	}
	  	&:hover{
	  		background-size: 130%;
	  	}
		h2{
			text-transform: uppercase;
			text-align: center;
			color: white;
			display: table-cell;
	    	vertical-align: middle;
			z-index: 1;
	    	position: relative;
			font-size: 22px;
		}
		.gradient{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			transition: all 0.6s ease;
		}
		&.dep-marketing .gradient{
			background-image: linear-gradient(146deg, #DFB36C 12%, rgba(223,178,107,0.50) 88%);

		}
		&.dep-it .gradient{
			background-image: linear-gradient(137deg, #607A87 6%, rgba(95,121,135,0.50) 80%);
		}
		&.dep-sales .gradient{
			background-image: linear-gradient(142deg, #14AF96 0%, rgba(19,175,150,0.50) 100%);
		}
		&.dep-adminstration .gradient{
			background-image: linear-gradient(to bottom right, rgba(4,43,75,0.99) 0%, rgba(4,43,75,0.50) 80%);
		}
		&.dep-finanzen .gradient{
		  background-image: -webkit-linear-gradient(50deg, #8DC8E8 0%, rgba(141,200,232,0.50) 83%);
		}
		&.dep-customer .gradient{
			/* Bitmap: */
			// opacity: 0.91;
			background-image: linear-gradient(-138deg, #F15238 0%, rgba(241,82,55,0.50) 73%);
		}
		&.dep-sales .gradient{
				background-image: linear-gradient(142deg, #14AF96 0%, rgba(19,175,150,0.50) 100%);
		}
		&.dep-personal .gradient{
			/* shutterstock_526629694 copy: */
      background-image: linear-gradient(-137deg, #730F5F 0%, rgba(115,15,94,0.54) 100%);
		}
		&.dep-recht .gradient{
			background-image: linear-gradient(39deg, rgba(120,9,9,0.50) 25%, rgba(120,9,9,0.86) 100%);
		}
	}

	.events{
		.container{
			position: relative;
		}
		.event-card{
			&:hover{
		    background: #F7F7F8;
			}
		}
		a {
		    text-decoration: none;
		}
		.event-photo{
			margin: 0 0 15px 0;
			width: 100%;
		}
		h4{
			font-size: 20px;
			margin-bottom: 10px;
			color: #4A4A4A;
		}
		a{
			display: inline-block;
		}
		span.date{
			display: inline-block;
			font-size: 14px;
			color: #4A4A4A;
			margin-bottom: 10px;
		}
	}

	.newsletters{
		background: url('../images/newsletters-bg.jpg') no-repeat;
		background-size: cover;

		h1, h1 a{
			text-transform: inherit;
			color:#fff;
			a, a:hover{
				text-decoration: underline;
				font-weight: bold;
			}
		}

	}

	.social-hr{
		background-color: $color-grey-light;
		padding: 60px 0;
		a{
			text-decoration: none;
		}
		*{
			text-transform: inherit;
		}
	}

	.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		right: -30px;
	}
	.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		left: -20px;
	}
	.swiper-button-next, .swiper-button-prev{
		top: 56%;
	}
	@media (max-width: $screen-md-min){
			.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
				right: 0px;
			}
			.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
				left: 0px;
			}
	}

	.hr-team{
		h1{
			text-transform: inherit;
		}
		.container{
			position: relative;
		}
		.swiper-container{
			padding: 10px;
		}
		.swiper-hr-team{
			width: 100%;
		}
		img{
			margin-bottom: 10px;
			width: 100%;
		}
		p{
			margin-bottom: 0;
		}

	}
	footer{

	}
	.swiper-button-prev, .swiper-button-next{
		background: none !important;
	}
	.swiper-button-prev:after, .swiper-button-next:after{
		content: " ";
		position: absolute;
		width: 1em;
		height: 1em;
		border-left: 2px solid #052C4B;
		border-bottom: 2px solid #052C4B;
	}
	.swiper-button-prev:after{
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);

		@media #{$tablet}{
			right: 0;
		}
	}
	.swiper-button-next:after{
		transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		border-left: 0;
		border-right: 2px solid #052C4B;

		@media #{$tablet}{
			left: 0;
		}
	}
	.jvectormap-tip{
		background-color: #F9F9F9;
		color: #231F20;
		padding: 0;
		animation-duration: 0.3s;
		// &:after, &:before {
		// 	top: 100%;
		// 	left: 50%;
		// 	border: solid transparent;
		// 	content: " ";
		// 	height: 0;
		// 	width: 0;
		// 	position: absolute;
		// 	pointer-events: none;
		// }
		//
		// &:after {
		// 	border-color: rgba(249, 249, 249, 0);
		// 	border-top-color: #F9F9F9;
		// 	border-width: 10px;
		// 	margin-left: -10px;
		// }
		// &:before {
		// 	border-color: rgba(205, 205, 205, 0);
		// 	border-top-color: #CDCDCD;
		// 	border-width: 11px;
		// 	margin-left: -11px;
		// }
		img{
			margin-right: 10px;
		}
		address{
			font-size: 13px;
			margin-bottom: 3px;
		}
		.swiper-container {
      width: 465px;
      height: 166px;
      margin: 20px auto 0px auto;
    }


	    .swiper-slide {
	        text-align: left;
	        font-size: 18px;
					padding: 0 30px;
					button{
						font-size: 13px;
						padding: 6px 10px;
					}
	    }

		@media (max-width: $screen-sm-max){
			display: block;
			position: relative;
			background-color: transparent;
			border: 0;
			padding: 20px;
			&:before, &:after{
				display: none;
			}
			img{
				margin-right: 20px;
    		width: 50%;
			}
			h4{
				font-size: 20px;
			}
			address{
				font-size: 16px;
				margin-bottom: 10px;
			}
			.swiper-container{
				width: 100%;
			}

		}

	}


}



.light-gray-bg{
	background-color: $color-grey-light;
}
.no-padding{
	padding: 0;
}
.wd__contentSliderText{
	padding-top: 30px !important;
}
