/*** MODULE ***/
.landing-contact-box .top {
	background-color: #EFF1F4;
}
@media screen and (max-width: 650px) {
	.landing-contact-box .top .grid--two-up .grid__unit {
		width: 100%;
	}
}
.landing-contact-box .top .buttons.inner {
	padding-top:1.54em;
	padding-bottom:1.54em;
}
.landing-contact-box .body {
	background-color: #D9DBDC;
}
@media screen and (min-width: 649px) and (max-width: 1100px) {
	.landing-contact-box .btn--arrow {
		font-size: 0.75em;
	}
}
@media screen and (max-width: 650px) {
	.landing-contact-box .btn--arrow + .btn--arrow {
		margin-top:0.5em;
	}
}
.landing-contact-box .btn-filter {
	width:100%;
	text-align: center;
}
.landing-contact-box .btn-filter.inner {
	padding-top:2em;
	padding-bottom:2em;
	padding-left:0;
	padding-right:0;
}
.landing-contact-box .top .buttons.gray,
.landing-contact-box .btn-filter.gray {
	background-color:#D9DBDC;
}
.landing-contact-box .btn-filter.gray:hover {
	background-color: #C5C6C8;
}
.landing-contact-box .top .buttons.gray {
	text-align: center;
}
.landing-contact-box .btn-filter.orange {
	background-color: #FF2014;
}
.landing-contact-box .btn-filter.orange:hover {
	background-color: #BD1B11;
}
.landing-contact-box .btn-filter.orange span {
	color:#fff;
}
.landing-contact-box .btn-filter.orange small:after {
	border-color:#fff;
}
.landing-contact-box .btn-filter small {
	/*float:left;*/
	display: inline-block;
	position: relative;
	margin-left:3em;
}
.landing-contact-box .btn-filter small:after {
	margin-left:0;
	left:auto;
	right:0;
}
.landing-contact-box .btn-filter.bottom small:after {
	top:-25%;
}
.landing-contact-box .btn-filter.top small:after,
.landing-contact-box .btn-filter.open small:after {
	top:10%;
}

.landing-contact-box .contact__text {
	margin-bottom:2em;
}
.landing-contact-box .contact__text .info-text {
	font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.3em;
	color: #FF2014;
}
.landing-contact-box .contact__text .tel {
	color: #000F23;
    display: block;
    line-height: 1.4em;
    margin-bottom: 0.75rem;
	font-size: 2.5em;
}
@media screen and (max-width: 850px) {
	.landing-contact-box .contact__text .tel {
		font-size: 1.875em;
	}
}
@media screen and (min-width: 768px) {
	.landing-contact-box .contact__text .copy {
		margin-left:2em;
	}
}
.landing-contact-box input[type="text"],
.landing-contact-box select,
.landing-contact-box .select,
.landing-contact-box textarea {
	background-color: #f7f7f7;
}
.landing-contact-box .form-builder {
	padding:0 !important;
}

.customers .title {
	display: block;
	padding-bottom: 0.5em;
	margin-bottom: 2em;
	border-bottom:1px solid #d9dbdc;
}
.customers .grid--five-up .grid__unit {
	width:100%;
	margin-bottom: 1.5em;
}
@media screen and (min-width: 480px) {
	.customers .grid--five-up .grid__unit {
		width:50%;
	}
}
@media screen and (min-width: 650px) {
	.customers .grid--five-up .grid__unit {
		width:33%;
	}
}
@media screen and (min-width: 768px) {
	.customers .grid--five-up .grid__unit {
		width:20%;
		margin-bottom: 0;
	}
}

.tab-box .tabs {
	background-color: #D9DBDC;
}
.tab-box .tabs__nav {
	width:auto;
}
.tab-box .tabs__list {
	float:left;
	width: auto;
}
@media screen and (min-width: 570px) {
	.tab-box .tabs__list__item {
		border-left:0;
		border-right:1px solid #FFFFFF;
	}
}
